<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <span class="brand-text font-weight-light">RAIZ WALLET</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="#" class="d-block">Admin</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="/users" class="nav-link">
                	<i class="nav-icon fas fa-user"></i>
                  	<p>
                    	User
                    </p>
                </a>
                <a href="/stocks" class="nav-link">
                	<i class="nav-icon fas fa-money-bill"></i>
                  	<p>
                    	Stock
                    </p>
                </a>
								<a href="/accounts" class="nav-link">
                	<i class="nav-icon fas fa-book"></i>
                  	<p>
                    	Account
                    </p>
                </a>
                <a href="/top_ups" class="nav-link">
                	<i class="nav-icon fas fa-arrow-circle-up"></i>
                  	<p>
                    	Top Up
                    </p>
                </a>
                <a href="/transfers" class="nav-link">
                	<i class="nav-icon fas fa-arrows-alt-h"></i>
                  	<p>
                    	Transfer
                    </p>
                </a>
                <a href="/withdraws" class="nav-link">
                	<i class="nav-icon fas fa-angle-double-down"></i>
                  	<p>
                    	Withdraw
                    </p>
                </a>
                <a href="/transactions" class="nav-link">
                	<i class="nav-icon fas fa-history"></i>
                  	<p>
                    	Transactions History
                    </p>
                </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>